h1 {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: black dashed 2px;
    margin-bottom: 1vw;

}

img {
    width: 300px;
    height: auto;
}


.hamberder{
    border: orangered solid 2px;
    border-radius: 1vw;
    padding: 8px;
    margin: 4px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

#devoured-berders .hamberder{
    color: darkslategray;
    background-color: lightgrey;
    border: darkslategray solid 2px;
    font-style: italic;
}

#container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-content: center;
}

#header{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vw;
}

#all-the-hamberders{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin-bottom: 1vw;
}

#berder-storage{
    grid-column: 1/2;
    grid-row: 1/2;
}

#devoured-berders{
    grid-column: 2/3;
    grid-row: 1/2;
}

#berder-storage, #devoured-berders{
    margin: 0vw 1vw 0vw 1vw
}

#flex-it{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#create-btn, #berder-box{
    flex: 0 0 100%;
    margin-bottom: .5vw;
}

#tiny{
    font-size: 12px;
    font-style: italic;
}
